*{
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to left bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    margin: 0;
    min-height: 100vh;
}

.Contenedor-pw{

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    background-color:transparent;
    width: 400px;
    
}

.Cabeza{
    background-color:transparent;
    padding: 1rem;
}

.pw{
    background-color:transparent;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    height: 70px;
    width: 100%;
    position: relative;
    padding: 1rem;
    overflow: auto;
}

.pw-body{
    padding: 0 1rem 1rem;
}


.pw button {
    background-color:transparent;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    padding: 0.25rem;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0, 20%);
    transition: opacity 0.2s ease, transform 0.2s ease;
    opacity: 0;
  
}

.pw:hover button{
    opacity: 1;
}

.form-control{
    color: #eee;
    display: flex;
    justify-content: space-between;
    margin: 0.75rem 0;

}

.generate{
   background-color: transparent;
   display: block;
   color: white;
   font-weight: bold;
   font-size: 1.5rem;
   padding: 0.5rem;
   margin-top: 1rem;
   border: none;
   width: 100%;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
   cursor: pointer;
}